.header {
    background: rgb(21, 3, 33);
}

h1 {
    color: #f7f4fa;
    font-size: 48px;
    font-family:Garamond, 'Times New Roman', Times, serif
}

.parent {
    position: relative;  
}

.flowers {
    width: 100%;
    position: relative;
}

.self {
    width: 18%;
    position: absolute;
    top: 80px;
    left: 50px;
    border: 8px solid #ceaee6;
    border-style: double;
}

.subtitles {
    position: absolute;
    bottom: 50px;
    right: 45px;
    color: #ceaee6;
    font-size: 30px;
    font-family:Garamond, 'Times New Roman', Times, serif
}


#surf {
    width: 65%;
    height: 500px;
}

.small {
    width: 40%;
    height: 200px
}