* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    background: #ceaee6;  
    line-height: 15px;
    padding-top: 20px;
}

.header h1 {
    color: rgb(11, 1, 28);
    font-size: 48px;
    font-family: Garamond, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 10px;
}

.header ul {
    list-style-type: none;
    float: right;
}

.header ul li {
    font-size: 24px;
    display: inline-block;
    padding-bottom: 10px;
    padding-right: 20px;
}

a {
    color: rgb(11, 1, 28);
    font-weight: bold;
}

.piccontainer {
    position: relative;  
}

.flowers {
    width: 100%;
    position: relative;
}

.self {
    width: 18%;
    position: absolute;
    top: 70px;
    left: 50px;
    border: 2px solid #01140b;
    border-style: solid;
}

.subtitles {
    position: absolute;
    bottom: 50px;
    right: 45px;
    color: #ceaee6;
    font-size: 30px;
    font-family:Garamond, 'Times New Roman', Times, serif;
}

main {
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color: rgb(11, 1, 28);
    /* position: relative */
}

h2 {
    /* padding-top: 50px; */
    color:#ceaee6
}

#about {
    display: flex;
}

#about h2 {
    text-align: center;
    width: 50%;
    margin-top: 3rem;
}

.para {
    border-left: 2px solid #ceaee6;
}

.para p {
    margin: 20px 0px 40px 0px;
    padding-right: 4rem;
    padding-left: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #ceaee6;
    line-height: 35px;
}

#work {
    display: flex;
}

#work h2 {
    text-align: center;
    width: 18%;
    margin-top: 3rem;
}

#work .images {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    
} 
/*  
#work .images {
    /* object-fit: cover; */
    /* display: flex; */
   
/* } */

#work .smallimages  {
    display: flex;
    flex-wrap: wrap;
}

#surf {
    width: 70%;
    height: 465px;
    margin-top: 5rem;
}

.small {
    width: 457px;
    height: 150px;
    margin-top: 1rem;
    margin-right: 0.5rem;
}

 footer {
     background-color: rgb(11, 1, 28);
 }
    
    
/*  */
/* @media (mid-width: 769px) */
